/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

header {
  background: #24292e;
  display: flex;
  align-items: center;
  z-index: 32;
  padding: 16px 32px;
  font-size: 14px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.7);
}
/* .git-icon {
  margin-right: 16px;
} */

.header-item {
  margin-right: 16px;
}

.header-link {
  margin-right: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.middle-links a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.end-links a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.end-links i {
  font-size: 14px;
}
.git-icon i {
  font-size: 32px;
}

.git-icon a {
  color: #ccc;
}

.git-icon a i:hover {
  color: #fff;
}

.middle-links {
  flex: auto;
  align-items: center;
}

.top-search {
  display: flex;
  border: 1px solid #444d56;
  background: #24292e;
  color: #fff;
  border-radius: 6px;
}

.top-search input {
  min-height: 28px;
  padding: 5px 12px;
  width: 243px;
  outline: none;
  background: none;
  border: 0;
  box-shadow: none;
  color: #fff;
}

.top-search .last-input {
  margin-right: 8px;
}

.d-flex {
  display: flex;
}

.small-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.image-box img {
  border-radius: 50%;
}

.mr-3 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 6px;
}

.mb-3 {
  margin-bottom: 16px;
}

.align-items-center {
  align-items: center;
}

.second-pane {
  z-index: 3;
  margin-top: 24px;
  border-bottom: 1px solid #e1e4e8;
  /* position: sticky; */
}

.inner-container {
  width: 80%;
  margin: 0 auto;
}

.second-pane-link-box,
.second-box {
  width: 75%;
  padding: 0 16px;
}

.first-box {
  width: 25%;
  padding: 0 16px;
  position: relative;
}

.position-relative {
  position: relative;
}

.inner-link-holder a {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-align: center;
  white-space: nowrap;
  /* background-color: initial; */
  border: 0;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.selected-nav {
  font-weight: 600;
  border-bottom-color: #f9826c !important;
  /* border: 2px solid red !important; */
}

.badge {
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid transparent;
  border-radius: 2em;
}

.image-box .big-img {
  height: 280px;
  width: 280px;
  z-index: 4;
  margin-top: -30px;
}

.w-50 {
  width: 50%;
}

.w-50 input {
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
}

.top-filter {
  padding: 16px;
  border-bottom: 1px solid #e1e4e8;
}

.top-filter button,
.repo-box button, button {
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  border-color: rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  cursor: pointer;
}

.green-new-btn {
  background: #2ea44f;
  color: #fff;
}

.repo-section li {
  list-style: none;
  padding: 24px 0;
  border-bottom: 1px solid #e1e4e8;
}

.repo-box .description {
  margin-bottom: 8px;
  padding-right: 24px;
  font-size: 14px;
  font-weight: 100;
}

.repo-box h3 {
  font-weight: 600;
  margin-bottom: 4px;
}

.repo-box .left-side {
  width: 25%;
}

.text-right {
  text-align: right;
}

.repo-box a {
  color: #0366d6;
  text-decoration: none;
  font-size: 20px;
}

.repo-box .ball {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #2ea44f;
}

.right-side {
  width: 75%;
}

.repo-lower-info {
  font-size: 12px;
  color: #586069;
  margin-top: 4px;
}

.font-weight-bold {
  font-weight: bold;
}

.py-3 {
    padding: 16px 0;
}

.first-box a {
  text-decoration: none;
  color: #586069;
}

.login {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: #586069;
  display: block;
}

.name {
  font-size: 26px;
  line-height: 1.25;
  display: block;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}
.user-status-circle-badge-container {
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 2;
    width: 38px;
    height: 38px;
    margin-bottom: 32px;
    margin-left: -40px;
    text-align: center;
}

.user-status-circle-badge {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 2em;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
    padding: 5px;
}

.user-status-circle-badge-container img {
  width: 20px;
  height: 20px;

}

.border-top {
  border-top: 1px solid #e1e4e8;
}
.my-3 {
  margin: 16px 0;
}

.org-image {
  height: 32px;
  width: 32px;
}

#bio {
  font-size: 16px;
  font-weight: 200;
}

@media(max-width: 420px) {
  .first-box, .second-box, .second-pane-link-box {
    width: 100%;
  }
  .flex-column {
    flex-direction: column;
  }
  .d-none {
    display: none;
  }
}